@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author:   Caleb Snow
   Date:     11/30/18
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/

/* Structural Styles */
/* This HTML selector uses a given image and situates it to perfectly align 
with the websites design and size */
html {
    background-image: url(jb_back2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Navigation Styles */

/* These li and ul selectors give the sizing needed to each element selected 
as well as a background color to the list styles */
li {
    background: rgb(14, 163, 223);
    display: block;
}

ul {
    margin: 0;
    padding-left: 0;
}

/* The submenu class is used to identify the certain navigation elements for
 each category that has other subjects included within them  */
.submenu {
    display: none;
    margin-top: 1em;
}

/* These navigational styles with the class of horizontal are what gives 
the main menu its design and look on the page */
nav.horizontal {
    width: 60%;
    display: inline;
    font-family: cursive;
}

nav.horizontal ul {
    text-align: center;
}

nav.horizontal ul li {
    display: block;
    width: 16.66%;
    float: left;
    box-shadow: rgb(0, 0, 0) 10px 10px 10px;
}

nav.horizontal a {
    color: black;
}

/* This specific navigational selector with the visited and link attributes 
are used to show when you have visited a certain directory from where 
ever you start at (root directory) */
nav.horizontal ul li a:link,
nav.horiontal ul li a:visited {
    text-decoration: none;
}

/* These sub menu classes paired with which ever combonation of ul li and a 
or even separate are what gives the nav bar some design and more special 
look to it */
ul.submenu {
    display: none;
    width: 100%;
    position: absolute;
}

ul.submenu a li {
    border-color: black;
    border: 3px;
}

.submenu li {
    clear: both;
    width: 100%;
}

a:hover+ul,
ul.submenu:active {
    display: block;
}

/* Body Styles */

/* These article styles are used to specialize what each article looks which 
way to have some diversity to the website */
article {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

article section {
    background: url(jb_back3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* All of these article selectors are paired with their direct child of a section
 element which either has an id of info or slang depending on what section 
 of the article element you are trying to effect */
article>section#info {
    box-shadow: rgb(0, 0, 0) 10px 10px 10px;
    margin-top: 50px;
    padding-bottom: 30px;
}

/*Also sometimes accompanied by a paragraph, h1, or h2 selector on the end to effect those specific elements in which ever section of the article */
article>section#info p {
    background-color: white;
    font-family: cursive;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
    border: outset rgb(0, 0, 0) 7px;
}

article>section#info h1 {
    font-size: 1.5em;
    font-family: cursive;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    border: outset rgb(0, 0, 0) 7px;
    background-color: white;
}

article>section#slang {
    box-shadow: rgb(0, 0, 0) 10px 10px 10px;

}

article>section#slang p {
    background-color: white;
    font-size: 1.5em;
    font-family: cursive;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    margin-left: 130px;
    margin-right: 130px;
    border: outset rgb(0, 0, 0) 7px;
}

article>section#slang h1 {
    font-size: 2em;
    font-family: cursive;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    text-decoration-line: underline;
}

/* These are styles to effect all h2's, all paragraph tags emmbedded in
 article tags in the HTML  */
h2 {
    text-align: center;
    font-family: cursive;
    margin-left: 250px;
    margin-right: 250px;
    border: outset rgb(0, 0, 0) 7px;
    background-color: white;
}

article p {
    text-align: center;
}

/* These footer styles are used to specify how the links within the footer 
react to the user and some basic styling to go with them  */
footer {
    background-color: rgb(39, 39, 39);
    color: white;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: red;
    margin-left: 10px;
}

footer a:hover,
footer a:active {
    color: rgb(25, 0, 255);
}

/* Mobile Styles */

/* These mobile styles are used to make sure all of the page content 
fits into the web page itself  */
@media only screen and (max-width: 480px) {
    nav.horizontal {
        order: 1;
    }

    article {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    article>section#info {
        order: 2;
    }

    article>section#slang {
        order: 3;
    }

    article>section#slang h1 {
        padding: 5px 50px 5px 60px;
        margin-right: auto;
        margin-left: auto;
    }

    article>section#info h1 {
        text-align: left;
        padding: 5px 50px 5px 60px;
        margin-right: auto;
        margin-left: auto;
    }

    article>section#slang h2 {
        padding: 5px 50px 5px 60px;
        margin-right: auto;
        margin-left: auto;
    }

    article>section#info h2 {
        padding: 5px 50px 5px 60px;
        margin-right: auto;
        margin-left: auto;
    }

}

}

/* Tablet Styles */

/* These are the tablet styles which were used to provide a sort of balance
 between Desktop and Mobile styles */
@media only screen and (min-width: 481px) {
    article {
        width: 80%;
    }

    article>section#slang h1 {
        margin-left: auto;
        margin-right: auto;
    }

    article>section#info h1 {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Desktop Styles */

/* I used this media query to just act as a boundary for the Tablet styles
 to not cross since I built the Desktop styles first with HTML 
 instead of doing best practice and starting from mobile   */
@media only screen and (min-width: 769px) {}