@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author:   Caleb Snow
   Date:     111/30/18
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/

/* Structural Styles */
html {
    background-image: url(jb_back2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Navigation Styles */
li {
    background: rgb(14, 163, 223);
    display: block;
}

ul {
    margin: 0;
    padding-left: 0;
}

.submenu {
    display: none;
    margin-top: 1em;
}

nav.horizontal {
    width: 60%;
    display: inline;
    font-family: cursive;
}

nav.horizontal ul {
    text-align: center;
}

nav.horizontal ul li {
    display: block;
    width: 16.66%;
    float: left;
    box-shadow: rgb(0, 0, 0) 10px 10px 10px;
}

nav.horizontal a {
    color: black;
}

nav.horizontal ul li a:link,
nav.horiontal ul li a:visited {
    text-decoration: none;
}

ul.submenu {
    display: none;
    width: 100%;
    position: absolute;
}

ul.submenu a li {
    border-color: black;
    border: 3px;
}

.submenu li {
    clear: both;
    width: 100%;
}

a:hover+ul,
ul.submenu:active {
    display: block;
}

/* Body Styles */
article {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

article section {
    background: url(jb_back3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

article>section#info {
    box-shadow: rgb(0, 0, 0) 10px 10px 10px;
    margin-top: 50px;
    padding-bottom: 30px;
}

article>section#info p {
    background-color: white;
    font-family: cursive;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
    border: outset rgb(0, 0, 0) 7px;
}

article>section#info h1 {
    font-size: 1.5em;
    font-family: cursive;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    border: outset rgb(0, 0, 0) 7px;
    background-color: white;
}

article>section#slang {
    box-shadow: rgb(0, 0, 0) 10px 10px 10px;

}

article>section#slang p {
    background-color: white;
    font-size: 1.5em;
    font-family: cursive;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    margin-left: 130px;
    margin-right: 130px;
    border: outset rgb(0, 0, 0) 7px;
}

article>section#slang h1 {
    font-size: 2em;
    font-family: cursive;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    text-decoration-line: underline;
}

h2 {
    text-align: center;
    font-family: cursive;
    margin-left: 250px;
    margin-right: 250px;
    border: outset rgb(0, 0, 0) 7px;
    background-color: white;
}

article p {
    text-align: center;
}

footer {
    background-color: rgb(39, 39, 39);
    color: white;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: red;
    margin-left: 10px;
}

footer a:hover,
footer a:active {
    color: rgb(25, 0, 255);
}

/* Flex Styles */


/* Mobile Styles */

@media only screen and (max-width: 480px) {
    nav.horizontal {
        order: 1;
    }

    article {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    article>section#info {
        order: 2;
    }

    article>section#slang {
        order: 3;
    }

    article>section#slang h1 {
        padding: 5px 50px 5px 60px;
        margin-right: auto;
        margin-left: auto;
    }

    article>section#info h1 {
        text-align: left;
        padding: 5px 50px 5px 60px;
        margin-right: auto;
        margin-left: auto;
    }

    article>section#slang h2 {
        padding: 5px 50px 5px 60px;
        margin-right: auto;
        margin-left: auto;
    }

    article>section#info h2 {
        padding: 5px 50px 5px 60px;
        margin-right: auto;
        margin-left: auto;
    }

    article>section#slang p {}

    article>section#info p {}

}

}

/* Tablet Styles */

@media only screen and (min-width: 481px) {
    article {
        width: 80%;
    }

    article>section#slang h1 {
        margin-left: auto;
        margin-right: auto;
    }

    article>section#info h1 {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Desktop Styles */

@media only screen and (min-width: 769px) {}