@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author:   
   Date:       
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/

/* Structural Styles */
html {
    background-image: url(jb_back2.png);
    /* background-repeat: no-repeat; */
    background-size: 100%;
}

/* Navigation Styles */
li{
    background:rgb(14, 163, 223);
    display: block;

}
ul{
    margin: 0;
    padding-left:0;
}
.submenu{
    display: none;
    margin-top: 1em;
}

nav.horizontal {
    width: 60%;
    display: inline;

}

nav.horizontal ul {
    text-align: center;
}

nav.horizontal ul li {
    display: block;
    width: 16.66%;
    float: left;
}

nav.horizontal a {
    color: black;
}

nav.horizontal ul li a:link,
nav.horiontal ul li a:visited {
    text-decoration: none;
}

ul.submenu {
    display: none;
    width: 100%;
    position: absolute;
}

.submenu li {
    clear: both;
    width: 100%;
}

a:hover+ul,
ul.submenu:active {
    display: block;
}

/* .horizontal {
    overflow: hidden;
    background-color: rgb(36, 36, 36);
    position: fixed;
    top: 0;
    width: 100%; 
}

.horizontal a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal a:hover,
.horizontal a:active {
    background: rgb(243, 243, 243);
    color: rgb(0, 0, 0);
}

.horizontal::after {
    clear: both;
    display: table;
    content: "";
}

.center {
    margin-top: 45px;
} */

/* Body Styles */
article {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

h1,
h2 {
    text-align: center;
}

article p {
    text-align: center;
}

footer {
    background-color: rgb(39, 39, 39); 
    color: white;
}

/* Flex Styles */


/* Mobile Styles */

@media only screen and (max-width: 480px) {}